<div class="example-button-row">
  <button  mat-raised-button color="accent">Recibidos</button>
  <button (click)='sended()' mat-raised-button  color="accent">Enviados</button>
  <button (click)='newmsj()'  mat-raised-button color="accent">Nuevo</button>
</div>

<div class="mat-elevation-z8">
  <table class="container" mat-table [dataSource]="dataSource">


    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef> sender </th>
      <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="msjs">
      <th mat-header-cell *matHeaderCellDef> msjs </th>
      <td mat-cell *matCellDef="let element"> {{element.msjs}} </td>
    </ng-container>
        <!-- Weight Column -->


    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'shortDate'}}
        <button>
          <mat-icon (click)='deleteMsj(element.id)' aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="container2"
                 [length]="100"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20, 30, 100]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>






















