<div class="headerContainer">

  <header class="banner">

    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span >Upper-Tech</span>
        <span class="example-spacer"></span>
        <button (click)="navegarHaciaLogin()" mat-raised-button color="primary" class="example-icon login" aria-label="Example icon-button with heart icon">
          <p class="navigate">Login</p>
        </button>
        <button (click)="navegarHaciaRegistro()" mat-raised-button color="primary" class="example-icon registrar" aria-label="Example icon-button with heart icon" >
          <p class="navigate">Register</p>
        </button>
        <button (click)="navegarHaciaHome()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>home</mat-icon>
        </button>
      </mat-toolbar>

    </header>

  </div>

