.main{
  background-image: url(https://sloanreview.mit.edu/content/uploads/2016/08/FR-Winston-Technology-Business-World-Challenges-1200-1200x627.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  padding: 1%;
  }
  .header{
    min-height: 100px;
  }
