
<!------ Include the above in your HEAD tag ---------->

<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<!-- Navigation -->
<div class="headercontainer">
  <div class="fixed-top">
    <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
              <li>
                <a class="waves-effect waves-dark" href="#"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a class="waves-effect waves-dark" href="#"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a class="waves-effect waves-dark" href="#"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a class="waves-effect waves-dark" href="#"
                  ><i class="fa fa-pinterest"></i
                ></a>
              </li>
              <li>
                <a class="waves-effect waves-dark" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
        <div class="container">
          <a
          class="navbar-brand"
          rel="nofollow"
          target="_blank"
          href="http://scadonsak.com/7bF"
          style="text-transform: uppercase"
          >
          Upper Tech</a
          >
          <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <mat-toolbar color="primary" class="toolbar">
                <span class="example-spacer"></span>
                <button *ngIf="!isLogged; else viewLogout" (click)="navegarHaciaLogin()" mat-raised-button color="primary" class="example-icon login material-cust-large-button " aria-label="Example icon-button with heart icon">
                  <p class="navigate">Login</p>
                </button>
                <button *ngIf="!isLogged" (click)="navegarHaciaRegistro()" mat-raised-button color="primary" class="example-icon registrar material-cust-large-button " aria-label="Example icon-button with heart icon" >
                  <p class="navigate">Register</p>
                </button>

                <ng-template #viewLogout>
                  <button (click)="navegarHaciaMensajes()" mat-raised-button color="primary" class="example-icon registrar material-cust-large-button " aria-label="Example icon-button with heart icon" >
                    <p class="navigate">Mensajes</p>
                  </button>
                  <button  (click)="logOut()"  mat-raised-button color="primary" class="example-icon registrar material-cust-large-button " aria-label="Example icon-button with heart icon" >
                    <p class="navigate">Logout</p>
                  </button>
                    <button  mat-raised-button color="primary" class="example-icon registrar material-cust-large-button " aria-label="Example icon-button with heart icon" >
                      <p class="navigate">{{user}}</p>
                    </button>

              </ng-template>
              </mat-toolbar>

          </ul>
        </div>
      </div>
    </nav>
  </header>
  </div>
</div>
